/* stylelint-disable max-line-length */

/* Vodafone custom font - hosted on vodafone.es CDN */
@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Vodafone Lt Regular"), url("https://www.vodafone.es/c/statics/fonts/vodafone-light.woff2") format("woff2");
}

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Vodafone Rg Regular"), url("https://www.vodafone.es/c/statics/fonts/vodafone-regular.woff2") format("woff2");
}

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Vodafone Rg Bold"), url("https://www.vodafone.es/c/statics/fonts/vodafone-bold.woff2") format("woff2");
}

@font-face {
  font-family: vodafone;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Vodafone ExB"), url("https://www.vodafone.es/c/statics/fonts/vodafone-extra-bold.woff2") format("woff2");
}
